body {
    background: rgb(240, 248, 248);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
header {
    background: rgb(152, 142, 158);
    background-image: url("image/pink.jpeg");
    background-size: 100%;
    background-position: center;
    color: rgb(26, 4, 39);
    opacity: 0.9;
    padding: 1.5%;
} 
section {
    color: rgb(36, 1, 43);
    padding: 5%;
}

footer {
    padding: 3%;
}


img {
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
    width: 50%;
    height: auto;
}
/* .navbar {
    position: absolute;
    right: 0px;
    height: 100%;
    width: 240px;
    background-color: rgb(7, 25, 107);
    text-align: center;
    transition: 0.800s ease;
}

.navbar > .side-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    display: flex;
}

.nav-item > .nav-link {
    text-decoration: none; 
    color: whitesmoke;
    font-size: 1.1em;
    padding: 1em;
    flex: 1;
}

.nav-item > .nav-link:hover {
    background-color: whitesmoke;
    color: black;
}

.toggle-collapse {
    float: left;
    margin-left: -3.3em;
    margin-top: .5em;
    content: "";
    outline: inherit;
    border: 0px;
    background: transparent;
} 


.toggle-icon, 
.toggle-icon::before, 
.toggle-icon::after {
    content: "";
    width: 30px;
    height: 3px;
    position: fixed;
    background-color: blue;
    border-radius: 2em;
    border: 1px solid black;
    cursor: pointer;
    transition: 0.800s ease;
    margin-top: 0.8em;
}

.toggle-icon::after {
    position: absolute;
    left: -1pm;
    margin-top: 0.6em;
    width: 20px;
}

.toggle-icon {
    width: 15px;
}

.show .toggle-icon::after {
    width: 30px;
}

.show .toggle-icon {
    width: 30px;
}

.nav-item > .site-name {
    text-decoration: none;
    padding: 1.3em;
    font-size: 2em;
    color: white;
}

.nav-item:last-child > .nav-link i {
    padding: .5em;
}

.nav-item:hover:last-child > .nav-link {
    background-color: black;
    color: white;
} */